			<!-- START SORTABLE -->
			<div id="sortable">
				
				{% if settings.shop_bycat == 'enabled' %}
				<!-- START FILTER -->
				<h3>Shop by Category</h3>
				<select class="loc_on_change">
					<option value="#">Select Category</option>{% for product_type in shop.types %}
					<option value="{{ product_type | url_for_type }}">{{ product_type }}</option>
					{% endfor %}
				</select>
				<!-- END FILTER -->
				{%endif%}
				
				{% if settings.shop_bybrand == 'enabled' %}
				<!-- START FILTER -->
				<h3>Shop by Brand</h3>
				<select class="loc_on_change">
					<option value="#">Select Brand</option>{% for product_vendor in shop.vendors %}
					<option value="{{ product_vendor | url_for_vendor }}">{{ product_vendor }}</option>
					{% endfor %}
				</select>
				<!-- END FILTER -->
				{%endif%}
				
				<iframe src="//www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fplatform&amp;width=292&amp;height=590&amp;colorscheme=light&amp;show_faces=true&amp;border_color&amp;stream=true&amp;header=true&amp;appId=209176265830139" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:292px; height:590px;" allowTransparency="true"></iframe>
				
				
			</div>
			<!-- END SORTABLE -->
			