{% layout settings.customer_layout %}


    <div class="hgroup">
      <h2>Reset Account Password</h2>
    </div>
	<p>Enter a new password for {{ email }}</p>

<div class="login_form">
    {% form 'reset_customer_password' %}
      {{ form.errors | default_errors }}

      <p>
        <label for="password">Password</label><br/>
        <input type="password" value="" name="customer[password]" id="customer_password" class="input" size="30" />
      </p>
      <p>
        <label for="password_confirmation">Password Confirmation</label><br/>
        <input type="password" value="" name="customer[password_confirmation]" id="customer_password_confirmation" class="input" size="30" />
      </p>
      <p class="action_bottom">
        <input class="b_rect" type="submit" value="Reset Password" />
      </p>
    {% endform %}
</div>
