
		
		<!-- PRIMARY -->
		<div id="primary_column">
			<!-- START CONTENT -->
			
			<!-- START HEADING -->
			<div class="hgroup">
				<h2>Whoops! Something has gone wrong.</h2>
				<h4>We can't find that page!</h4>
			</div>
			<!-- END HEADING -->
			
			<div class="body">
				<p><a href="/">Try our homepage instead...</a></p>
			</div>
		
		</div>
		<!-- / PRIMARY -->
